  form {
    width: 500px;
    margin: 2rem auto;
    text-align: center;
    border: 2px solid #eee;
    border-radius: 8px;
    padding: 1rem 2rem;
    background: white;
  
    font-family: monospace;
    color: #525252;
    font-size: 1.1rem;
  }
  
  form button {
    padding: 0.5rem 1rem;
    color: white;
    background: coral;
    border: none;
    border-radius: 4px;
    margin-top: 1rem;
  }
  
  form button:active {
    background: rgb(165, 76, 43);
  }

  .payment-info {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 0 0 20px 0;
      align-items: flex-start;
      label {
          padding-bottom: 8px;
      }
      input {
          width: 100%;
      }
  }

  // this styles the inputes

  .form-input,.StripeElement {
    border: 1px solid #ccc;
    box-sizing: border-box;
  
    height: 40px;
  
    padding: 10px 12px;
  
    // border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
  
    // box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }
  
  .form-input:focus,.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }

  input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.confirmation {
  display: flex;
  justify-content: center;
  color: green;
}

.radios {
  .radio {
    padding-bottom: 20px;
    label {
      display: flex;
      align-items: center;
      span {
        padding-left: 10px;
      }
    }
  }
}


.lds-ring {
  display: inline-block;
  display: flex;
  justify-content: center;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid coral;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: coral transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

